:root {
  --green-0: #E7E8C4;
  --green-1: #DDE5B6;
  --green-2: #808A6C;
  --green-3: #232E21;
  --brown-0: #9A8D84;
  --brown-1: #908278;
  --brown-2: #79675C;
  --brown-3: #6C584C;
  --purple: #938BA1;
  --white: #F5F5F5;
  --dark: #090909;
  --light:#F0EAD2;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: var(--dark);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: var(--light)
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: var(--dark);
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}
h4 {
  font-size: 18px;
  color: var(--dark);
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: var(--green-0);
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--green-0);
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: var(--brown-0);
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar {
  height: 20;
}
#menu.navbar-default {
  background-color: var(--light);
  border-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  content: "center";
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0px 2px;
  color: var(--dark);
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--dark);
  font-size: 15px;
  font-weight: 400;
  padding: 0px 2px;
  border-radius: 0;
  margin: 0 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, var(--brown-3) 0%, var(--brown-2) 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, var(--brown-3) 0%, var(--brown-2) 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-default .navbar-toggle {
  border-radius: 0;
  margin-top: 0;
  padding: 0;
  border-color: var(--light);
  color: var(--dark)
}
.navbar-default .navbar-toggle > .icon-bar {
  background-color: var(--dark);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--light);
  border-color: var(--light);
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: var(--brown-3);
}
/*********************/
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, var(--brown-3) 0%, var(--brown-2) 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown-0);
  background-image: linear-gradient(to right, var(--brown-0), var(--brown-1) 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: var(--white);
  background-image: none;
  background-color: var(--brown-2);
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
/* Adjust the header height to 80% of the viewport */
.intro {
  height: 100vh; /* 80% of screen height */
  min-height: 90vh; /* Ensures it doesn't shrink below 80% */
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(../img/intro-bg.jpg) center/cover no-repeat;
  background-color: var(--white);
}

/* Make sure overlay and content fill the space */
.intro .overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; 
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: var(--white);
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: var(--brown-0);
}
.intro p {
  color: var(--white);
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}
/* Features Section */
#features {
  padding: 100px 0;
  background: var(--white);
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: var(--white);
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, var(--brown-0) 0%,var(--brown-1)100%);
  box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  padding: 100px 0;
  background-color: var(--light);
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, var(--green-1) 0%, var(--green-2) 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: var(--green-2);
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 700px;
  margin-top: 10px;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}
/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to bottom, var(--brown-0) 0%, var(--brown-3) 100%);
  color: var(--white);
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: var(--white);
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: var(--purple);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: var(--purple);
  border-radius: 50%;
  color: var(--light);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: var(--white);
}
#services p {
  color: var(--dark);
}
#services .service-desc {
  margin-bottom: 40px;
}


/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: var(--green-2);
  color: var(--white);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: var(--brown-3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: var(--brown-3);
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: var(--purple);
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  font-weight: 700;
  color: var(--brown-3);
  background: transparent;
  border: 2px solid var(--brown-3);
}
#contact .btn-custom:hover {
  color: var(--white);
  background: var(--brown-2);
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: var(--green-2);
  background-color: var(--white);
  background-image: none;
  border: 1px solid var(--white);
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: var(--green-3);
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: var(--dark);
}
.form-control:-moz-placeholder {
  color: var(--dark);
}
.form-control::-moz-placeholder {
  color: var(--dark);
}
.form-control:-ms-input-placeholder {
  color: var(--dark);
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: var(--white);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid var(--brown-2);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: var(--green-0);
  background: var(--white);
}
/* Footer Section*/
#footer {
  background: var(--light);
  padding: 30px 0;
}
#footer p {
  color: var(--brown-2);
  font-size: 14px;
}
#footer a {
  color: var(--purple);
}
#footer a:hover {
  border-bottom: 2px solid var(--purple);
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}
